In [ ]:
# 1. what is list ? how will you revers a list ?
# Ans. A list is a some  value that contains multiple values in an ordered sequence.
# we can revers a list by using 'var.revers()' this method use to revers a list.

In [ ]:
# 2. How will you remove last object from a list?
# Ans. we can remove last object from a list by using 'var.pop()' method of list.

In [ ]:
# 3. Suppose list1 is [2,33,222,14,25], what is list [-1]?
# Ans. [-1] is a 25 , it's called as index value.

In [ ]:
# 4. What is the difference between append() and extend() methods?
# Ans. append() add a single elenment to the end of the list while. 
# extend() can add multiple individual elenments to the end of the list.

In [ ]:
# 5. write a python function to get the largest number,smallest number and sum of all from a list.

s1=[4,5,8,9,52,68]
add=0
sorted_data=s1.sort()
print(s1[0],'smallest number')
print(s1[-1],'largest number')
for i in s1:
    add+=1
    print(add,'sum')

In [ ]:
# 6. how will you compare two list?
# Ans. To compare two list from a length.

In [ ]:
#7. write a python program to count the number of string where the string length is 2 or 
# more and the first and last charector are same from a given list of strings.

str= ['coco','rahul','karan','meet']
count=0
for i in str:
    if i[0]==i[-1] and len(i)>=2:
        count+=1
print(count)

In [ ]:
#8. write a python program to remove duplicate from the list.

s1=[2,6,4,2,4,6,3,8,5,9,5]
final_list=[]
for i in s1:
    if i not in final_list:
        final_list.append(i)
    else:
        pass 
print(final_list)

In [ ]:
# 9. write a python program to check a list is empty or not.

l1=[2,3,5,6]
if len(l1)==0:
    print('this list is empty')
else:
    print('this list is not empty')

In [ ]:
# 10. write a python function that takes two list and returns true if 
# they have at list one common member.

l1=[2,63,42,55,21,45]
l2=[22,45,63,10,20]
count=0
for i in l1:
    for s in l2:
        if i==s:
            count+=1
if count>=1:
    print('true')
else:
    print('false')

In [ ]:
# 11. write a pythan program to generate and print a list of first and last 5
# ele where the values are square of numbers 1 and 30.

user=[2,5,6,7,9,8,41,20,36,5,24,88,69,80,40,30]
res=[]
for i in user:
    a=int(i)
    b=a*a
    if b>=1 and b<=30:
        print(a,'value',b,'square',sep=' ')

In [ ]:
# 12. write a python program to select an itam randomly form a list.
i=int(input())
l1=[2,3,4,6,8,9,11,19]
print(l1[i])

In [ ]:
# 13. write a python program to find the second smallest number in a list.

l1=[1,3,4,5,9,8,7,6,12]
l1.sort()
print(l1)
print(l1[1])

In [ ]:
# 14. write apython program to get the unique value from a list.

l1=[1,2,3,4,4,5,5,6,9,87]
for i in l1:
    a=l1.count(i)
    if a==1:
        print('unique values',i)

In [ ]:
# 15. write a python program to check whether a list contains a sub list.
d1=[5,6,7,[9,32,74,85],96,41,20]
count=0
for i in d1:
    if type (i)==list:
        count+=1
if count>=1:
    print('true')
else:
    print('false')

In [ ]:
# 16. write a python program to create a tuple with different data types.

s1=(8,6,20,[85,63,401,85],{45,96,30,10},'sanghvi meet',{'mango:fruit'})
print(s1)

In [ ]:
# 17. write a python program to check whether an elenment exists within a tuple.

t1=(6,8,9,12,15,18,22,38,96)
i=int(input())
if i in t1:
    print('yes')
else:
    print('no')

In [ ]:
# 18. write a python program to find the length of a tuple.

t1=tuple(input())
print(t1)
a=len(t1)
print('length',a)

In [ ]:
# 19. write a python program to convert a list to a tuple. # pending.....

l1=list(input())
for i in l1:
    if l1==[-1]:
        a=l1[-1]
        tuple(a)

In [ ]:
# 20. write a python program to revers a tuple.

t1=tuple(input())
l1=list(t1)
l1.reverse()
a=tuple(l1)
print(a)

In [ ]:
# 21. write a python program to replace last value of tuple in a list. 

l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for t in l:
        print(t[:-1] + (80,))

In [ ]:
# 22. write a python program to creat a tuple with different data types.

t1=(6,7,9,'meet',[23,45,63,78],{81,30,6,3,},{'a':96,'c':32},(32,52,96,10),True,False)
print(t1)

In [ ]:
# 23. write a python program to creat a tuple with numbers.

s1=tuple(input())
l1=[]
for i in t1:
    l1.append(int(i))
print(tuple(l1))

In [ ]:
# 24. write a python program to convert a tuple to a string.

s1=tuple(input())
print(s1)

In [ ]:
# 25. write a python program to check whether an elenment exists within a tuple.

s1=tuple(input(int))
i=input()
if s1.count(i)>=1:
    print('this number exist in the tuple')
else:
    print('this number does not exist in this tuple')

In [ ]:
# 26. write a python program to convert a list to a tuple.

a1=tuple(input())
a=len(a1)
print('length of tuple',a)

In [ ]:
# 27. write a python program to convert a list to a tuple.

s1=list(input())
a=tuple(s1)
print(a)

In [ ]:
# 28. write a python program to revers a tuple.

t1=(6,2,4,8,2,5,36,44)
a=list(t1)
a.reverse()
print(a)

In [ ]:
# 29. write a python program to replace last value of tuples in a list.

l1=tuple(input())
list_ss=[]
for i in l1:
    if i is l1[-1]:
        if i in list_ss:
            list_ss.append(list(i))
        else:
            list_ss.append(i)
    else:
        list_ss.append(i)
print(tuple(list_ss))

In [ ]:
# 30. write a python program to find the replaced itams of a tuple.

t1=(2,2,1,1,3,3,8,8,9,10,18,22)
count=0
list(t1)
list_sort=[]
for i in t1:
    t1.count(i)
    count+=1
    if count>=2:
        if i not in list_sort:
            list_sort.append(i)
        else:
            pass
    else:
        pass
print(tuple(list_sort))

In [ ]:
# 31. write a python program to remove an empty tuple(s) from a list of tuples.

t1=[(2,6,9,),(),(63,52,96,74),(45,85,96,10)]
list_ss=list(map(list,t1))
for i in list_ss:
    if i == []:
        list_ss.remove(i)
k=list(map(tuple,list_ss))
print(k)

In [ ]:
# 32. write apython program to unzip a list of tuples into individual lists.

(s1,s2,s3,s4)=((20,30,40,50),(60,30,525,74,85),(96,41,52,63),(45,63,12,95))
print(s3)

In [ ]:
# 33. write a python program to check whether an elenment exists within a tuple.

s1=tuple(input())
list(s1)
list_sorted=[]
for i in s1:
    a=int(i)
    if a not in list_sorted:
        list_sorted.append(a)
    else:
        pass
print(tuple(list_sorted))

In [ ]:
# 34. write a python program to check whether an elenment exists within a tuple.

s1=tuple(input())
i=input()
if i in t1:
    print('yes! this elenment exist')
else:
    print('no! this elenment is does not exist')

In [ ]:
# 35. write a python program to convert a list of tuple into a dictionary.

a1=[('a',63),('b',86),('z',52)]
a2=dict(a1)
print(a2)

In [ ]:
# 36. how will you create a dictionary using tuple in python.

In [ ]:
# 37. write a python script to sort (assending and disending) a dictionary by value.
dict={'a':63,'w:32,}

In [10]:
# 38. write a python program script to concatenate following dictionaries to creat a new one.

dict1={'s':20,'f':63,'l':20}
dict2={'o':90,'g':31,'k':38}
print(dict1,dict2,sep=',')

{'s': 20, 'f': 63, 'l': 20},{'o': 90, 'g': 31, 'k': 38}

In [13]:
# 39. write a python script to check if a given key already exists in a dictionary.

t1={'s':20,'f':63,'l':20}
a=input()
if a in t1:
    print('this key exits following dictionary')
else:
    print('this key is not exits following dictionary')

d
this key is not exits following dictionary

In [ ]:
# 40. how do you traverse through a dictionary object in python?

In [ ]:
# 41. how do you check the presence of a key in a dictionary?

In [15]:
# 42. write a python sript to print a dictionary where the keys are numbers between 1 and 15.

t1={1:'rahul',6:'meet',8:'vedant'}
print(t1)

{1: 'rahul', 6: 'meet', 8: 'vedant'}

In [22]:
# 43. write a python program to check multiple keys exists in a dictionary.

d1={'a':85,'b':41,'c':45,'d':48}
empty_list=[]
count=0

In [23]:
# 44. write a python program to combine two dictionary adding values for common keys.

d1={'a':19,'b':41,'c':45,'d':48}
d2={'a':19,'b':41}
d1.values()
d2.values()

dict_values([19, 41])

In [ ]:
# 45. write a python program to map two lists into a dictionary.

keys = ['red', 'green', 'blue']
values = ['#FF0000','#008000', '#0000FF']
color_dictionary = dict(zip(keys, values))
print(color_dictionary)

In [25]:
# 46. write a python program to print all unique values in a dictionary.

t1={1:'rahul',6:'meet',8:'vedant'}
t2=[]

In [26]:
# 47. write a python function to calculate the factorial of a number.

a=(2,6,8,9,4,4)
fact=1
for i in a:
    fact=fact*i
print(fact)

13824

In [ ]:
# 48. write a python program to combine values in python list of dictionaries.
given values: [{'itam':'itam 1', 'amount':5000},{'itam':'itam2','amount':4000},
               {'itam':'itam2','amount':12000}]
Expected o/p: counter ({'itam1':5000,'itam2':16000})

In [27]:
# 49. write a python program to creat a dictionary from a string.

from collections import defaultdict, Counter
str1 = 'w3resource' 
my_dict = {}
for letter in str1:
    my_dict[letter] = my_dict.get(letter, 0) + 1
print(my_dict)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [32]:
# 50. write a python function to check number is perfect or not.

s=10
add=0
for i in range(12):
    0+1
print(add)

0

In [34]:
# 51. write a python function that checks  whether a passed string is palindrom or not.

s1=input()
s2=s1[::-1]
print(s2)
if s1 == s2:
    print('not paildrom')
else:
    print('palidrom')

pop
pop
not paildrom

In [1]:
# 52. write a python function to check whether a number is in a given range. 

def test_range(n):
    if n in range(3,9):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(5)

 5 is in the range

In [ ]:
# 53. how do you perform pattern matching in python ? explain 
5 ways to perform pattern matching in Python [Practical Examples]
How to perform pattern matching in Python.
Method-1: Using re.search() Function.
Method-2: Using re.match() Function.
Method-3: Using re.fullmatch() Function.
Method-4: Using re.findall() Function.
Method-5: Using re.finditer() Function.
Summary.
References.

In [ ]:
# 54. what is lamda function in python? what we calla function which is incomplete version offunction.
# Ans. Lambda Function, also referred to as 'Anonymous function' is same as a regular python function 
# but can be defined without a name. While normal functions are defined using the def keyword,
# anonymous functions are defined using the lambda keyword.

In [ ]:
# 55. how many basic types of function in python. 
# there are 4 types of python function.
# Python Built-in Functions
# Python Recursion Functions
# Python Lambda Functions , anonimas function , one line function
# Python User-defined Functions